<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

        form {
            visibility: hidden;
        }

    </style>
</head>
<body>

    <form method="post" action="https://secure.wayforpay.com/pay">
    {% for k in params %}
        <input type="text" name="{{ k }}" value="{{ params[k] }}">
    {% endfor %}
        <input type="submit" value="send">
    </form>

    <script>

        window.addEventListener('DOMContentLoaded', function() {
            document.querySelector('form').submit();
        });

    </script>
</body>
</html>
